openapi: 3.0.0
info:
  title: Cbeci API
  version: 1.0
servers:
  - url: https://ccaf.io/cbeci/api
    description: Main (production) server
  - url: https://demo.ccaf.io/cbeci/api
    description: Demo server for testing
  - url: http://localhost:5000/api
    description: Local server for testing
tags:
  - name: Index
  - name: Greenhouse Gas
  - name: Carbon Accounting Tool
  - name: Charts
  - name: Download
  - name: Ethereum/Data
  - name: Ethereum/Charts
  - name: Ethereum/Download
  - name: Ethereum 1.0/Data
  - name: Ethereum 1.0/Charts
  - name: Ethereum 1.0/Download
  - name: WYSIWYG
  - name: Contact
paths:
  /data/{price}:
    $ref: "./endpoints/index/data.yaml"
  /data/monthly/{price}:
    $ref: "./endpoints/index/monthly_data.yaml"
  /data/stats/{price}:
    $ref: "./endpoints/index/data_stats.yaml"

  /max/{price}:
    $ref: "./endpoints/index/max_power.yaml"
  /power/max/{price}:
    $ref: "./endpoints/index/max_power.yaml"
  /min/{price}:
    $ref: "./endpoints/index/min_power.yaml"
  /power/min/{price}:
    $ref: "./endpoints/index/min_power.yaml"
  /guess/{price}:
    $ref: "./endpoints/index/guess_power.yaml"
  /power/guess/{price}:
    $ref: "./endpoints/index/guess_power.yaml"

  /consumption/max/{price}:
    $ref: "./endpoints/index/max_consumption.yaml"
  /consumption/min/{price}:
    $ref: "./endpoints/index/min_consumption.yaml"
  /consumption/guess/{price}:
    $ref: "./endpoints/index/guess_consumption.yaml"

  /carbon_accounting_tool/calculate:
    $ref: "./endpoints/carbon_accounting_tool/calculate.yaml"
  /carbon_accounting_tool/download/calculation:
    $ref: "./endpoints/carbon_accounting_tool/download_calculation.yaml"
  /carbon_accounting_tool/charts/miners_revenue:
    $ref: "./endpoints/carbon_accounting_tool/miners_revenue.yaml"
  /carbon_accounting_tool/download/miners_revenue:
    $ref: "./endpoints/carbon_accounting_tool/download_miners_revenue.yaml"

  /charts/mining_equipment_efficiency:
    $ref: "./endpoints/charts/miners.yaml"
  /charts/profitability_threshold:
    $ref: "./endpoints/charts/profitability_threshold.yaml"
  /charts/mining_countries:
    $ref: "./endpoints/charts/mining_countries.yaml"
  /charts/absolute_mining_countries:
    $ref: "./endpoints/charts/absolute_mining_countries.yaml"
  /charts/mining_provinces:
    $ref: "./endpoints/charts/mining_provinces.yaml"
  /charts/mining_map_countries:
    $ref: "./endpoints/charts/mining_map_countries.yaml"
  /charts/mining_map_provinces:
    $ref: "./endpoints/charts/mining_map_provinces.yaml"
  /charts/bitcoin_emission_intensity:
    $ref: "./endpoints/charts/bitcoin_emission_intensity.yaml"
  /charts/bitcoin_greenhouse_gas_emissions/{price}:
    $ref: "./endpoints/charts/bitcoin_greenhouse_gas_emissions.yaml"
  /charts/total_bitcoin_greenhouse_gas_emissions/{price}:
    $ref: "./endpoints/charts/total_bitcoin_greenhouse_gas_emissions.yaml"
  /charts/monthly_bitcoin_power_mix:
    $ref: "./endpoints/charts/monthly_bitcoin_power_mix.yaml"
  /charts/yearly_bitcoin_power_mix:
    $ref: "./endpoints/charts/yearly_bitcoin_power_mix.yaml"
  /charts/energy_efficiency_of_mining_hardware/daily:
    $ref: "./endpoints/charts/energy_efficiency_of_mining_hardware.yaml"
  /charts/energy_efficiency_of_mining_hardware/yearly:
    $ref: "./endpoints/charts/energy_efficiency_of_mining_hardware.yaml"

  /{version}/download/data:
    $ref: "./endpoints/download/data.yaml"
  /{version}/download/data/monthly:
    $ref: "./endpoints/download/monthly_data.yaml"
  /{version}/download/mining_countries:
    $ref: "./endpoints/download/mining_countries.yaml"
  /{version}/download/mining_provinces:
    $ref: "./endpoints/download/mining_provinces.yaml"
  /{version}/download/bitcoin_greenhouse_gas_emissions:
    $ref: "./endpoints/download/bitcoin_greenhouse_gas_emissions.yaml"
  /{version}/download/total_bitcoin_greenhouse_gas_emissions:
    $ref: "./endpoints/download/total_bitcoin_greenhouse_gas_emissions.yaml"
  /{version}/download/bitcoin_emission_intensity:
    $ref: "./endpoints/download/bitcoin_emission_intensity.yaml"
  /{version}/download/monthly_bitcoin_power_mix:
    $ref: "./endpoints/download/monthly_bitcoin_power_mix.yaml"
  /{version}/download/yearly_bitcoin_power_mix:
    $ref: "./endpoints/download/yearly_bitcoin_power_mix.yaml"
  /{version}/download/greenhouse_gas_emissions:
    $ref: "./endpoints/download/greenhouse_gas_emissions.yaml"
  /{version}/download/energy_efficiency_of_mining_hardware/daily:
    $ref: "./endpoints/download/energy_efficiency_of_mining_hardware.yaml"
  /{version}/download/energy_efficiency_of_mining_hardware/yearly:
    $ref: "./endpoints/download/energy_efficiency_of_mining_hardware.yaml"

  /eth/pos/data/stats:
     $ref: "./endpoints/eth/pos/data/stats.yaml"

  /eth/pos/charts/network_power_demand:
     $ref: "./endpoints/eth/pos/charts/network_power_demand.yaml"
  /eth/pos/charts/annualised_consumption:
     $ref: "./endpoints/eth/pos/charts/annualised_consumption.yaml"
  /eth/pos/charts/total_electricity_consumption/monthly:
     $ref: "./endpoints/eth/pos/charts/total_electricity_consumption.yaml"
  /eth/pos/charts/total_electricity_consumption/yearly:
     $ref: "./endpoints/eth/pos/charts/total_electricity_consumption.yaml"
  /eth/pos/charts/client_distribution:
     $ref: "./endpoints/eth/pos/charts/client_distribution.yaml"
  /eth/pos/charts/active_nodes:
     $ref: "./endpoints/eth/pos/charts/active_nodes.yaml"
  /eth/pos/charts/node_distribution:
     $ref: "./endpoints/eth/pos/charts/node_distribution.yaml"
  /eth/pos/charts/node_distribution/{YYYY-MM-DD}:
     $ref: "./endpoints/eth/pos/charts/node_distribution.yaml"
  /eth/pos/charts/monthly_node_distribution:
     $ref: "./endpoints/eth/pos/charts/node_distribution.yaml"
  /eth/pos/charts/monthly_node_distribution/{YYYY-MM}:
     $ref: "./endpoints/eth/pos/charts/node_distribution.yaml"
  /eth/pos/charts/power_demand_legacy_vs_future:
     $ref: "./endpoints/eth/pos/charts/power_demand_legacy_vs_future.yaml"
  /eth/pos/charts/power_demand_legacy_vs_future/{YYYY-MM-DD}:
     $ref: "./endpoints/eth/pos/charts/power_demand_legacy_vs_future.yaml"
  /eth/pos/charts/comparison_of_annual_consumption:
     $ref: "./endpoints/eth/pos/charts/comparison_of_annual_consumption.yaml"
  /eth/pos/charts/comparison_of_annual_consumption/{YYYY-MM-DD}:
     $ref: "./endpoints/eth/pos/charts/comparison_of_annual_consumption.yaml"
  /eth/pos/charts/greenhouse_gas_emissions:
     $ref: "./endpoints/eth/pos/charts/greenhouse_gas_emissions.yaml"
  /eth/pos/charts/total_greenhouse_gas_emissions/monthly:
     $ref: "./endpoints/eth/pos/charts/total_greenhouse_gas_emissions_monthly.yaml"
  /eth/pos/charts/total_greenhouse_gas_emissions/yearly:
     $ref: "./endpoints/eth/pos/charts/total_greenhouse_gas_emissions_yearly.yaml"
  /eth/pos/charts/power_mix/monthly:
     $ref: "./endpoints/eth/pos/charts/power_mix_monthly.yaml"
  /eth/pos/charts/power_mix/yearly:
     $ref: "./endpoints/eth/pos/charts/power_mix_yearly.yaml"
  /eth/pos/charts/emission_intensity:
     $ref: "./endpoints/eth/pos/charts/emission_intensity.yaml"
  /eth/pos/charts/emission_intensity/monthly:
     $ref: "./endpoints/eth/pos/charts/emission_intensity_monthly.yaml"
  /eth/pos/charts/total_number_of_active_validators:
     $ref: "./endpoints/eth/pos/charts/total_number_of_active_validators.yaml"
  /eth/pos/charts/total_number_of_active_validators/{date}:
     $ref: "./endpoints/eth/pos/charts/total_number_of_active_validators.yaml"
  /eth/pos/charts/market_share_of_staking_entities:
     $ref: "./endpoints/eth/pos/charts/market_share_of_staking_entities.yaml"
  /eth/pos/charts/market_share_of_staking_entities/{date}:
     $ref: "./endpoints/eth/pos/charts/market_share_of_staking_entities.yaml"
  /eth/pos/charts/staking_entities_categorization:
     $ref: "./endpoints/eth/pos/charts/staking_entities_categorization.yaml"
  /eth/pos/charts/staking_entities_categorization/{date}:
     $ref: "./endpoints/eth/pos/charts/staking_entities_categorization.yaml"
  /eth/pos/charts/hosting_providers/{date}:
     $ref: "./endpoints/eth/pos/charts/hosting_providers.yaml"

  /{version}/eth/pos/download/network_power_demand:
     $ref: "./endpoints/eth/pos/download/network_power_demand.yaml"
  /{version}/eth/pos/download/annualised_consumption:
     $ref: "./endpoints/eth/pos/download/annualised_consumption.yaml"
  /{version}/eth/pos/download/total_electricity_consumption/monthly:
     $ref: "./endpoints/eth/pos/download/total_electricity_consumption.yaml"
  /{version}/eth/pos/download/total_electricity_consumption/yearly:
     $ref: "./endpoints/eth/pos/download/total_electricity_consumption.yaml"
  /{version}/eth/pos/download/client_distribution:
     $ref: "./endpoints/eth/pos/download/client_distribution.yaml"
  /{version}/eth/pos/download/active_nodes:
     $ref: "./endpoints/eth/pos/download/active_nodes.yaml"
  /{version}/eth/pos/download/node_distribution:
    $ref: "./endpoints/eth/pos/download/node_distribution.yaml"
  /{version}/eth/pos/download/monthly_node_distribution:
    $ref: "./endpoints/eth/pos/download/node_distribution.yaml"
  /{version}/eth/pos/download/greenhouse_gas_emissions:
    $ref: "./endpoints/eth/pos/download/greenhouse_gas_emissions.yaml"
  /{version}/eth/pos/download/total_greenhouse_gas_emissions/monthly:
    $ref: "./endpoints/eth/pos/download/total_greenhouse_gas_emissions_monthly.yaml"
  /{version}/eth/pos/download/total_greenhouse_gas_emissions/yearly:
    $ref: "./endpoints/eth/pos/download/total_greenhouse_gas_emissions_yearly.yaml"
  /{version}/eth/pos/download/power_mix/monthly:
    $ref: "./endpoints/eth/pos/download/power_mix_monthly.yaml"
  /{version}/eth/pos/download/power_mix/yearly:
    $ref: "./endpoints/eth/pos/download/power_mix_yearly.yaml"
  /{version}/eth/pos/download/emission_intensity:
    $ref: "./endpoints/eth/pos/download/emission_intensity.yaml"
  /{version}/eth/pos/download/emission_intensity/monthly:
    $ref: "./endpoints/eth/pos/download/emission_intensity_monthly.yaml"
  /{version}/eth/pos/download/total_number_of_active_validators:
    $ref: "./endpoints/eth/pos/download/total_number_of_active_validators.yaml"
  /{version}/eth/pos/download/market_share_of_staking_entities:
    $ref: "./endpoints/eth/pos/download/market_share_of_staking_entities.yaml"
  /{version}/eth/pos/download/staking_entities_categorization:
    $ref: "./endpoints/eth/pos/download/staking_entities_categorization.yaml"
  /{version}/eth/pos/download/hosting_providers:
    $ref: "./endpoints/eth/pos/download/hosting_providers.yaml"

  /eth/pow/data/stats/{price}:
     $ref: "./endpoints/eth/pow/data/stats.yaml"

  /eth/pow/charts/network_power_demand/{price}:
     $ref: "./endpoints/eth/pow/charts/network_power_demand.yaml"
  /eth/pow/charts/annualised_consumption/{price}:
     $ref: "./endpoints/eth/pow/charts/annualised_consumption.yaml"
  /eth/pow/charts/total_electricity_consumption/monthly/{price}:
     $ref: "./endpoints/eth/pow/charts/total_electricity_consumption.yaml"
  /eth/pow/charts/total_electricity_consumption/yearly/{price}:
     $ref: "./endpoints/eth/pow/charts/total_electricity_consumption.yaml"
#  /eth/pow/charts/network_efficiency:
#     $ref: "./endpoints/eth/pow/charts/network_efficiency.yaml"
  /eth/pow/charts/mining_equipment_efficiency:
     $ref: "./endpoints/eth/pow/charts/mining_equipment_efficiency.yaml"
  /eth/pow/charts/profitability_threshold/{price}:
     $ref: "./endpoints/eth/pow/charts/profitability_threshold.yaml"
  /eth/pow/charts/source_comparison:
     $ref: "./endpoints/eth/pow/charts/source_comparison.yaml"
  /eth/pow/charts/greenhouse_gas_emissions:
     $ref: "./endpoints/eth/pow/charts/greenhouse_gas_emissions.yaml"
  /eth/pow/charts/total_greenhouse_gas_emissions/monthly:
     $ref: "./endpoints/eth/pow/charts/total_greenhouse_gas_emissions_monthly.yaml"
  /eth/pow/charts/total_greenhouse_gas_emissions/yearly:
     $ref: "./endpoints/eth/pow/charts/total_greenhouse_gas_emissions_yearly.yaml"
  /eth/pow/charts/power_mix/monthly:
     $ref: "./endpoints/eth/pow/charts/power_mix_monthly.yaml"
  /eth/pow/charts/power_mix/yearly:
     $ref: "./endpoints/eth/pow/charts/power_mix_yearly.yaml"
  /eth/pow/charts/emission_intensity:
     $ref: "./endpoints/eth/pow/charts/emission_intensity.yaml"
  /eth/pow/charts/emission_intensity/monthly:
     $ref: "./endpoints/eth/pow/charts/emission_intensity_monthly.yaml"
  /eth/pow/charts/mining_map:
     $ref: "./endpoints/eth/pow/charts/mining_map.yaml"

  /{version}/eth/pow/download/network_power_demand/{price}:
     $ref: "./endpoints/eth/pow/download/network_power_demand.yaml"
  /{version}/eth/pow/download/annualised_consumption/{price}:
     $ref: "./endpoints/eth/pow/download/annualised_consumption.yaml"
  /{version}/eth/pow/download/total_electricity_consumption/monthly/{price}:
     $ref: "./endpoints/eth/pow/download/total_electricity_consumption.yaml"
  /{version}/eth/pow/download/total_electricity_consumption/yearly/{price}:
     $ref: "./endpoints/eth/pow/download/total_electricity_consumption.yaml"
#  /{version}/eth/pow/download/network_efficiency:
#     $ref: "./endpoints/eth/pow/download/network_efficiency.yaml"
  /{version}/eth/pow/download/mining_equipment_efficiency:
     $ref: "./endpoints/eth/pow/download/mining_equipment_efficiency.yaml"
  /{version}/eth/pow/download/profitability_threshold/{price}:
     $ref: "./endpoints/eth/pow/download/profitability_threshold.yaml"
  /{version}/eth/pow/download/source_comparison:
     $ref: "./endpoints/eth/pow/download/source_comparison.yaml"
  /{version}/eth/pow/download/greenhouse_gas_emissions:
    $ref: "./endpoints/eth/pow/download/greenhouse_gas_emissions.yaml"
  /{version}/eth/pow/download/total_greenhouse_gas_emissions/monthly:
    $ref: "./endpoints/eth/pow/download/total_greenhouse_gas_emissions_monthly.yaml"
  /{version}/eth/pow/download/total_greenhouse_gas_emissions/yearly:
    $ref: "./endpoints/eth/pow/download/total_greenhouse_gas_emissions_yearly.yaml"
  /{version}/eth/pow/download/power_mix/monthly:
    $ref: "./endpoints/eth/pow/download/power_mix_monthly.yaml"
  /{version}/eth/pow/download/power_mix/yearly:
    $ref: "./endpoints/eth/pow/download/power_mix_yearly.yaml"
  /{version}/eth/pow/download/emission_intensity:
    $ref: "./endpoints/eth/pow/download/emission_intensity.yaml"
  /{version}/eth/pow/download/emission_intensity/monthly:
    $ref: "./endpoints/eth/pow/download/emission_intensity_monthly.yaml"

  /text_pages:
    $ref: "./endpoints/wysiwyg/text_pages.yaml"
  /text_pages/{id}:
    $ref: "./endpoints/wysiwyg/text_page.yaml"
  /reports:
    $ref: "./endpoints/wysiwyg/reports.yaml"
  /reports/{id}:
    $ref: "./endpoints/wysiwyg/report.yaml"
  /sponsors:
    $ref: "./endpoints/wysiwyg/sponsors.yaml"
  /sponsors/{id}:
    $ref: "./endpoints/wysiwyg/sponsor.yaml"

  /feedback:
    $ref: "./endpoints/contact/feedback.yaml"

  /ghg/annualised_emission:
    $ref: "./endpoints/ghg/annualised_emission.yaml"
  /ghg/emissions:
    $ref: "./endpoints/ghg/emissions.yaml"
  /ghg/emission_intensities:
    $ref: "./endpoints/ghg/emission_intensities.yaml"
